
<!--    <style>
        .region-promo {
            border: 1px solid #E9E8ED;
            padding: 15px;
            font-size: 16px;
            text-align: center;
            margin: 20px 0;
            background: #FDFDFD;
        }
        ul{text-align: center;}
        ul li{
            list-style-type: none;
            vertical-align:top;
            display: inline-block;
            padding: 30px;
        }
        ul li a img{
            width: 110px;
        }
        ul li a{
            text-decoration: none; 
        }
    </style>  
-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="region region-promo">
                <div id="block-promo" class="block block-block-content block-block-content11e90357-be88-4668-88b7-34f2d355a755">
                    <div class="content">
                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <h2>Categories</h2>
                            <p>Browse datasets based in these categories</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul>
            	<li><a href="#"><img src="/usr/lib/ckan/default/src/ckan/ckan/public/base/images/agriculture_icon.png"></a></li>
            	<li><a href="#"><img src="/usr/lib/ckan/default/src/ckan/ckan/public/base/images/business_icon.png"></a></li>
            	<li><a href="#"><img src="/usr/lib/ckan/default/src/ckan/ckan/public/base/images/health_icon.png"></a></li>
          	<li><a href="#"><img src="/usr/lib/ckan/default/src/ckan/ckan/public/base/images/random_icon.png"></a></li>
            </ul>
        </div>
    </div>
</div>
