<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="region region-promo">
                <div id="block-promo" class="block block-block-content block-block-content11e90357-be88-4668-88b7-34f2d355a755">
                    <div class="content">
                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <h2>Categories</h2>
                            <p>Browse datasets based on these categorie</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul>
            	<li><a href="#"><img src="C:\Users\Mean Machine\Pictures\agriculture_icon.png"></a></li>
            	<li><a href="#"><img src="C:\Users\Mean Machine\Pictures\business_icon.png"></a></li>
            	<li><a href="#"><img src="C:\Users\Mean Machine\Pictures\health_icon.png"></a></li>
          	  <li><a href="#"><img src="C:\Users\Mean Machine\Pictures\random_icon.png"></a></li>
            </ul>
        </div>
    </div>
</div>
